<!-- Banner -->
<section id="banner">
        <div class="inner">
            <img src="{{ site.baseurl }}/images/logo_home.svg" alt="" class="logo-home"><br>
            <h2 class="t-blanca">Bienvenidos a ANDES</h2>
            <p><strong>ANDES:</strong> Aplicaciones Neuquinas de Salud es una plataforma digital de servicios de salud que implementa la HUDS/Historia Unificada Digital de Salud de la Provincia de Neuquén. Permite a los pacientes y a los miembros del Equipo de Salud acceder a los datos de salud de manera rápida y segura.</p>
            <ul class="actions">
                <li><a href="#pacientes" class="scrolly button violeta">Pacientes</a></li>
                <li><a href="#profesionales" class="scrolly button cyan">Equipos de Salud</a></li>
                <li><a href="#efectores" class="scrolly button azul">Efectores</a></li>
            </ul>
        </div>
        <a href="#acreditarse" class="more scrolly">Cómo acreditarse</a>
    </section>