<!-- Equipos de Salud -->
<section id="profesionales" class="wrapper alt style1">
    <section class="spotlight vh">
        <div class="content"><img src="images/profesionales.svg" alt="" /></div>
        <div class="content align-right">
            <img class="rounded-circle cover" src="images/profesionales.jpg" alt=""><br>
            <span class="volanta">Agentes</span><br>
            <h2>Equipos de salud</h2>
            <p class="t-blanca">ANDES ofrece una potente herramienta desarrollada para el registro dinámico de los Datos de Salud; esta información es  compleja ya que consiste de miles de ideas modeladas en una multiplicidad de formas determinadas por los episodios de la vida del paciente, la familia, la comunidad y la percepción de los miembros del equipo de salud.</p>
        </div>
    </section>
</section>