<!-- Footer -->
<footer id="footer">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 inline">
            <div class="d-inline"><a href="http://www.neuquen.gov.ar/" target="_blank"><img
                         src="{{ site.baseurl }}/images/logo_01.svg" alt="logo neuquen provincia"
                         class="logo-footer"></a></div>
            <div class="d-inline"><a href="http://www.saludneuquen.gob.ar/" target="_blank"><img
                         src="{{ site.baseurl }}/images/logo_02.svg" alt="escudo provincia del neuquen"
                         class="logo-footer"></a></div>
            <div class="d-inline"><a href="http://www.saludnqn.gob.ar/portal/" target="_blank"><img
                         src="{{ site.baseurl }}/images/logo_03.svg" alt="logo de red tics" class="logo-footer"></a>
            </div>
            <div class="d-inline"><a href="http://faiweb.uncoma.edu.ar/" target="_blank"><img
                         src="{{ site.baseurl }}/images/logo_04.svg" alt="logo de la universidad nacional del comahue"
                         class="logo-footer"></a></div>
            <div class="d-inline"><a href="http://www.cmn.org.ar/" target="_blank"><img
                         src="{{ site.baseurl }}/images/logo_05.svg" alt="logo del colegio medico de neuquen"
                         class="logo-footer"></a></div>
            <div class="d-inline"><a href="http://www.hl7.org/" target="_blank"><img
                         src="{{ site.baseurl }}/images/logo_06.svg" alt="logo de hl7" class="logo-footer"></a></div>
        </div>
    </div>
</footer>
</div>