<!-- Header -->
<header id="header" class="alt">
    <div class="logo">
        <a href=""><img src="images/andes_logo_desktop.svg" alt="" class="hidden logo-img-desktop"></a>
        <a href=""><img src="images/andes_logo_tablet.svg" alt="" class="hidden logo-img-tablet"></a>
        <a href=""><img src="images/andes_logo_mobile.svg" alt="" class="hidden logo-img-mobile"></a>
    </div>
    <nav id="nav">
        <ul class="icons">
            <li class="special">
                <a href="https://www.youtube.com/channel/UCzzWPI1jVWaPrRSLv_fTJLQ" target="blank"
                   class="icon fa-youtube"></a>
            </li>
            <li class="special">
                <a href="https://www.facebook.com/andesneuquen/" target="blank" class="icon fa-facebook"></a>
            </li>
            <li class="special">
                <a href="https://twitter.com/andesneuquen" target="blank" class="icon fa-twitter"></a>
            </li>
            <li class="special">
                <a href="https://www.instagram.com/andes.neuquen/" target="blank" class="icon fa-instagram"></a>
            </li>
            <li class="special">
                <a href="https://github.com/andes" target="blank" class="icon fa-github"></a>
            </li>
            <li class="special">
                <a href="mailto: info@andes.gob.ar" target="self" class="icon fa-envelope"></a>
            </li>
            <li class="special">
                <a href="#menu" class="menuToggle"></a>
                <div id="menu">
                    <ul>
                        <li><a href="#banner" class="scrolly">Inicio</a></li>
                        <li><a href="#beneficios" class="scrolly">Beneficios</a></li>
                        <li><a href="#acreditarse" class="scrolly">Cómo acreditarse</a></li>
                        <li><a href="#pacientes" class="scrolly">Pacientes</a></li>
                        <li><a href="#profesionales" class="scrolly">Profesionales</a></li>
                        <li><a href="#efectores" class="scrolly">Efectores</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>