<!-- Header -->
<header id="header">
    <div class="logo">
        <a href="{{ site.url }}"><img src="{{ site.baseurl }}/images/andes_logo_desktop.svg" alt=""
                 class="hidden logo-img-desktop"></a>
        <a href="{{ site.url }}"><img src="{{ site.baseurl }}/images/andes_logo_tablet.svg" alt=""
                 class="hidden logo-img-tablet"></a>
        <a href="{{ site.url }}"><img src="{{ site.baseurl }}/images/andes_logo_mobile.svg" alt=""
                 class="hidden logo-img-mobile"></a>
    </div>
    <nav id="nav">
        <ul class="icons">
            <li class="special">
                <a href="https://www.youtube.com/channel/UCzzWPI1jVWaPrRSLv_fTJLQ" target="blank"
                   class="icon fa-youtube"></a>
            </li>
            <li class="special">
                <a href="https://www.facebook.com/andesneuquen/" target="blank" class="icon fa-facebook"></a>
            </li>
            <li class="special">
                <a href="https://twitter.com/andesneuquen" target="blank" class="icon fa-twitter"></a>
            </li>
            <li class="special">
                <a href="https://www.instagram.com/andes.neuquen/" target="blank" class="icon fa-instagram"></a>
            </li>
            <li class="special">
                <a href="https://github.com/andes" target="blank" class="icon fa-github"></a>
            </li>
            <li class="special">
                <a href="mailto: info@andes.gob.ar" target="self" class="icon fa-envelope"></a>
            </li>
            <li class="special">
                <a href="#menu" class="menuToggle"></a>
                <div id="menu">
                    <ul>
                        <li><a href="{{ site.url }}/#banner" class="">Inicio</a></li>
                        <li><a href="{{ site.url }}/#beneficios" class="">Beneficios</a></li>
                        <li><a href="{{ site.url }}/#acreditarse" class="">Cómo acreditarse en ANDES</a></li>
                        <li><a href="{{ site.url }}/#pacientes" class="">Pacientes</a></li>
                        <li><a href="{{ site.url }}/#profesionales" class="">Profesionales</a></li>
                        <li><a href="{{ site.url }}/#efectores" class="">Efectores</a></li>
                        <!-- <li><a href="{{ site.url }}/#puntos" class="">Puntos de acreditación</a></li> -->
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</header>