<!-- Organizaciones -->
<section id="efectores" class="wrapper alt style3">
    <section class="spotlight vh">
        <div class="content align-left">
            <img class="rounded-circle cover" src="images/efectores.jpg" alt=""><br>
            <span class="volanta">Gestión</span><br>
            <h2>Organizaciones</h2>
            <p class="t-blanca">ANDES provee a través de CITAS (Centro Inteligente de Trámites de Acceso a la Salud) herramientas destinadas a una gestión dinámica de la oferta y demanda del menú de prestaciones del Sistema de Salud proveyendo una plataforma multicanal para que los pacientes puedan acceder con mayor celeridad y oportunamente a las prestaciones.</p>
        </div>
        <div class="content"><img src="images/efectores00.svg" alt="" /></div>
    </section>
</section>