<!-- Pacientes -->
<section id="pacientes" class="wrapper alt style2">
    <section class="spotlight vh">
        <div class="content align-left">
            <img class="rounded-circle cover" src="images/pacientes.jpg" alt=""><br>
            <span class="volanta">Protagonistas</span><br>
            <h2>Pacientes</h2>
            <p>ANDES está pensado para que el paciente no sólo sea, sino que también se sienta DUEÑO de sus Datos de Salud. ANDES te permite el acceso a tu Historia de Salud, la autogestión de tus citas y acelerar los tiempos en que se resuelven tus trámites.</p>
        </div>
        <div class="content"><img src="images/pacientes.svg" alt="" /></div>
    </section>
</section>