<!-- Puntos de Acreditación -->
<section id="puntos" class="wrapper content style5 special">
    <div class="inner">
        <header>
            <span class="volanta">Acceder a ANDES</span><br>
            <h2>Puntos de acreditación</h2>
            <p>Actualmente se dispone de cuatro puntos de acreditación: Hospital Castro Rendón, Hospital Heller, Hospital Bouquet Roldán y Hospital Ciudad de Centenario. Estas son las organizaciones y miembros del equipo de salud que ya utilizan ANDES:</p>
        </header>
    </div>
</section>
<section> 
        <div id="map"></div>							
</section>