<!-- acreditarse -->
<section id="acreditarse" class="wrapper style5 special">
    <div class="inner">
        <header class="major">
            <span class="volanta">Acceder a ANDES</span><br>
            <h2>¿Cómo me registro en ANDES?</h2>
        </header>
        <ul class="features">
            <li class="icon"><img src="images/a_dni.svg">
                <h3><strong>PASO 1:</strong> Acercate a un punto de acreditación ANDES</h3>
                <p>Una vez validada tu identidad a partir de tu DNI; te enviaremos un código de activación que deberás ingresar al registrarte en la app.</p>
                <a href="#puntos" class="scrolly button cyan fit">Ver puntos de acreditaci&oacute;n</a>
            </li>
            <li class="icon"><img src="images/codigo.svg">
                <h3><strong>PASO 2:</strong> Descargá la app de ANDES en tu celular</h3>
                <p>Encontrala en <a href='https://play.google.com/store/apps/details?id=org.andes.mobile&hl=es'>Google Play Store.</a> Una vez instalada en tu dispositivo, ingresá el código que te enviamos al acreditarte en ANDES.</p>
                <a href="https://play.google.com/store/apps/details?id=org.andes.mobile&hl=es" target="blank" class="scrolly button cyan fit">Descargar ANDES APP</a>
            </li>
        </ul>
    </div>
</section>